doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width")
    link(href="/styles/monokai.css", rel="stylesheet")
    block title
      title= "My Blog"
  body
    block header
      ul
        li
          a(href="/") Home
    block content
    block footer
